<template>
  <button @click='toHome'>跳转</button>
</template>

<script>
export default {
    methods:{
        toHome(){
            this.$router.push({
                name:'demo'
            })
        }
    }
}
</script>

<style>

</style>